databases:
  - name: strapi-postgres
    databaseName: strapi
    user: strapi
    plan: free

services:
  - type: web
    name: the-unseen-journey-cms
    runtime: node
    plan: free
    rootDir: cms
    buildCommand: npm install && mkdir -p public/uploads && npm run build
    startCommand: npm run start
    healthCheckPath: /_health
    envVars:
      - key: NODE_ENV
        value: production
      - key: HOST
        value: 0.0.0.0
      - key: PORT
        value: 10000
      - key: DATABASE_CLIENT
        value: postgres
      - key: DATABASE_URL
        fromDatabase:
          name: strapi-postgres
          property: connectionString
      - key: APP_KEYS
        generateValue: true
      - key: API_TOKEN_SALT
        generateValue: true
      - key: ADMIN_JWT_SECRET
        generateValue: true
      - key: TRANSFER_TOKEN_SALT
        generateValue: true
      - key: JWT_SECRET
        generateValue: true
      - key: CLOUDINARY_NAME
        sync: false
      - key: CLOUDINARY_KEY
        sync: false
      - key: CLOUDINARY_SECRET
        sync: false
